<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="E2Eproject.Listeners"/>
    </listeners>
    <test name="Validating Home Page Title">
        <classes>
        <class name="E2Eproject.ValidateTitle">
            <methods>
                <include name="validateTitle"/>
            </methods>
        </class>
        </classes>
    </test>
    <test name="Home Page">
        <classes>
            <class name="E2Eproject.HomePage">
                <methods>
                    <include name="homePageNavigation"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>